@charset "UTF-8";
/* Підключення шрифтів Google fonts */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:600&display=swap");
/* Підключення вручну */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

summary::-webkit-details-marker {
  display: none;
}

.hero__actions .hero__btn-link, .button {
  color: #ffffff;
  background-color: #6b77e5;
  padding: 21px 27px;
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .hero__actions .hero__btn-link:hover, .button:hover {
    background-color: #40ddb6;
    color: #ffffff;
  }
}

body {
  font-size: 1.125rem;
  color: #37393F;
  font-family: "Inter", sans-serif;
}
body .wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
body .page {
  padding-top: 11.875rem;
}
@media (max-width: 61.99875em) {
  body .page {
    padding-top: 3.625rem;
  }
}
.menu-open body {
  overflow: hidden;
}

[class*=__container] {
  max-width: 78.125rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.2222222222em;
  line-height: 1.2;
}

.subtitle {
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.3888888889em;
     -moz-column-gap: 0.3888888889em;
          column-gap: 0.3888888889em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subtitle::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.6111111111em;
          flex: 0 0 0.6111111111em;
  width: 0.6111111111em;
  height: 0.6111111111em;
  background-color: #40DDB6;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.top-bar {
  background-color: #37393F;
  color: #ffffff;
}
.top-bar__container {
  display: none;
}
@media (min-width: 61.99875em) {
  .top-bar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
    min-height: 3.75rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
  }
}
.top-bar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
.top-bar__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
  font-size: 0.875rem;
  line-height: 1.2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1.5px;
}
.top-bar__item-link img {
  width: 1.25rem;
  height: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.top-bar__item-link address {
  font-style: normal;
}
@media (any-hover: hover) {
  .top-bar__item-link:hover {
    text-decoration-color: #ffffff;
    text-decoration-thickness: 1.5px;
  }
}
.top-bar__item-link--hours {
  text-decoration: none;
}
.top-bar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
.top-bar__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.top-bar__social-item img {
  width: 1.25rem;
  height: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .top-bar__social-link:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.main-header {
  position: relative;
  background-color: #ffffff;
}
.main-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  min-height: 8.125rem;
}
@media (min-width: 81.25em) {
  .main-header__container {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (min-width: 62.5em) and (max-width: 81.25em) {
  @supports ((-moz-column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem ))) {
    .main-header__container {
      -webkit-column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem );
              column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem ))) {
    .main-header__container {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 62.5rem) / 18.75);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 62.5rem) / 18.75);
              column-gap: calc(1.25rem + 1.25 * (100vw - 62.5rem) / 18.75);
    }
  }
}
@media (max-width: 62.5em) {
  .main-header__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .main-header__container {
    min-height: 3.625rem;
  }
}
.main-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 12.5rem;
  position: relative;
  z-index: 5;
}
.main-header__logo img {
  width: 2.625rem;
  height: 1.8125rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-header__logo p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 1.5;
}
.main-header__logo p span {
  color: #6b77e5;
}
@media (max-width: 61.99875em) {
  .main-header__logo p {
    font-size: 1.375rem;
  }
}
@media (max-width: 27.5em) {
  .main-header__logo p {
    display: none;
  }
}
.main-header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 61.99875em) {
  .main-header__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 4.4444444444em 0.8333333333em 1.6666666667em;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .main-header__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.625rem;
    top: 0;
    left: 100%;
    z-index: 2;
    background-color: #fff;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu-open .main-header__body, .menu-open .main-header__body::before {
    left: 0;
  }
  .main-header__body .main-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    text-align: right;
  }
  .main-header__body .main-header__item--parent .main-header__link {
    display: block;
  }
  .main-header__body .main-header__item--parent .main-header__link::after {
    display: none;
  }
  .main-header__body .main-header__link {
    font-size: 1.4375rem;
    row-gap: 1.25rem;
  }
}
.main-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.9375rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (min-width: 68.75em) {
  .main-header__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (min-width: 60.625em) and (max-width: 68.75em) {
  @supports ((-moz-column-gap: clamp( 1.25rem , -8.0769230769rem  +  15.3846153846vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -8.0769230769rem  +  15.3846153846vw , 2.5rem ))) {
    .main-header__list {
      -webkit-column-gap: clamp( 1.25rem , -8.0769230769rem  +  15.3846153846vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , -8.0769230769rem  +  15.3846153846vw , 2.5rem );
              column-gap: clamp( 1.25rem , -8.0769230769rem  +  15.3846153846vw , 2.5rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.25rem , -8.0769230769rem  +  15.3846153846vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -8.0769230769rem  +  15.3846153846vw , 2.5rem ))) {
    .main-header__list {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 60.625rem) / 8.125);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 60.625rem) / 8.125);
              column-gap: calc(1.25rem + 1.25 * (100vw - 60.625rem) / 8.125);
    }
  }
}
@media (max-width: 60.625em) {
  .main-header__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.main-header__item--parent {
  position: relative;
}
.main-header__item--parent .main-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
}
.main-header__item--parent .main-header__link::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1rem;
          flex: 0 0 1rem;
  height: 0.5rem;
  width: 1rem;
  background: url("../img/header/arrow.svg") 0 0 no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .main-header__item--parent:hover .main-header__link::after {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
@media (any-hover: hover) {
  .main-header__item--parent:hover .main-header__submenu-box {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.main-header__link {
  line-height: 1.2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0.3125rem 0rem;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1.5px;
}
@media (any-hover: hover) {
  .main-header__item:hover .main-header__link {
    text-decoration-color: #37393F;
    text-decoration-thickness: 1.5px;
    text-shadow: 0px 0px 0.7px #000;
  }
}
.main-header__submenu-box {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  left: -0.625rem;
  padding-top: 0.625rem;
  -webkit-transform: translateY(1.25rem);
      -ms-transform: translateY(1.25rem);
          transform: translateY(1.25rem);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
  width: 8.125rem;
}
@media (max-width: 61.99875em) {
  .main-header__submenu-box {
    position: relative;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    left: 0;
    width: 100%;
  }
  .main-header__submenu-box .submenu-header__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .main-header__submenu-box .submenu-header__link {
    font-size: 1.125rem;
  }
}
.main-header__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  position: relative;
  z-index: 5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.submenu-header {
  padding: 0.625rem;
  background-color: #40ddb6;
  -webkit-box-shadow: 3px 3px 5px #000;
          box-shadow: 3px 3px 5px #000;
  border-radius: 8px;
}
.submenu-header__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.submenu-header__link {
  line-height: 1.2;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3125rem 0rem;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1.5px;
}
@media (any-hover: hover) {
  .submenu-header__link:hover {
    text-decoration-color: #37393F;
    text-decoration-thickness: 1.5px;
    text-shadow: 0px 0px 0.7px #000;
  }
}

.button {
  padding: 1.1666666667em 1.9444444444em 1.2222222222em;
}
@media (max-width: 61.99875em) {
  .button {
    font-size: 0.7777777778em;
  }
}
@media (any-hover: hover) {
  .button:hover {
    color: #6b77e5;
  }
}

.menu-icon {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  width: 1.875rem;
  height: 1.125rem;
  position: relative;
  z-index: 5;
}
@media (max-width: 61.99875em) {
  .menu-icon {
    display: block;
  }
  .menu-icon::before, .menu-icon::after, .menu-icon span {
    content: "";
    position: absolute;
    height: 0.125rem;
    width: 100%;
    left: 0;
    background-color: #37393F;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-icon::before {
    top: 0;
  }
  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    margin-top: -0.0625rem;
  }
  .menu-open .menu-icon span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .menu-icon::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -0.0625rem;
  }
  .menu-open .menu-icon::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -0.0625rem;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: calc(100svh - 11.875rem);
}
@media (max-width: 61.99875em) {
  .hero {
    height: calc(100svh - 3.625rem);
  }
}
.hero__background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 70% top;
     object-position: 70% top;
}
.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: calc(33.0555555556em + 12.1875%);
      flex-basis: calc(33.0555555556em + 12.1875%);
  position: relative;
  height: 100%;
  padding-left: 6.09375%;
  padding-right: 6.09375%;
  background-color: hsla(225, 7%, 23%, 0.91);
}
@media (min-width: 81.25em) {
  .hero__body {
    -ms-flex-preferred-size: 37.1875rem;
        flex-basis: 37.1875rem;
  }
}
@media (min-width: 37.5em) and (max-width: 81.25em) {
  @supports (flex-basis: clamp( 28.125rem , 20.3571428571rem  +  20.7142857143vw , 37.1875rem )) {
    .hero__body {
      -ms-flex-preferred-size: clamp( 28.125rem , 20.3571428571rem  +  20.7142857143vw , 37.1875rem );
          flex-basis: clamp( 28.125rem , 20.3571428571rem  +  20.7142857143vw , 37.1875rem );
    }
  }
  @supports not (flex-basis: clamp( 28.125rem , 20.3571428571rem  +  20.7142857143vw , 37.1875rem )) {
    .hero__body {
      -ms-flex-preferred-size: calc(28.125rem + 9.0625 * (100vw - 37.5rem) / 43.75);
          flex-basis: calc(28.125rem + 9.0625 * (100vw - 37.5rem) / 43.75);
    }
  }
}
@media (max-width: 37.5em) {
  .hero__body {
    -ms-flex-preferred-size: 28.125rem;
        flex-basis: 28.125rem;
  }
}
@media (min-width: 120em) {
  .hero__body {
    -ms-flex-preferred-size: 43.125%;
        flex-basis: 43.125%;
    padding-left: 0;
    padding-right: 7.3125rem;
  }
}
@media (max-width: 51.25em) {
  .hero__body {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 33.0555555556em;
  width: 100%;
  margin: auto 0;
  position: relative;
}
@media (min-width: 81.25em) {
  .hero__content .hero__subtitle {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 1rem , 0.9591836735rem  +  0.2040816327vw , 1.125rem )) {
    .hero__content .hero__subtitle {
      font-size: clamp( 1rem , 0.9591836735rem  +  0.2040816327vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9591836735rem  +  0.2040816327vw , 1.125rem )) {
    .hero__content .hero__subtitle {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .hero__content .hero__subtitle {
    font-size: 1rem;
  }
}
.hero__content .hero__subtitle:not(:last-child) {
  margin-bottom: 0.5555555556em;
}
.hero__content .hero__title {
  width: 8.8166666667em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.3333333333em;
  color: #ffffff;
}
@media (min-width: 81.25em) {
  .hero__content .hero__title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 1.875rem , 1.262755102rem  +  3.0612244898vw , 3.75rem )) {
    .hero__content .hero__title {
      font-size: clamp( 1.875rem , 1.262755102rem  +  3.0612244898vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.262755102rem  +  3.0612244898vw , 3.75rem )) {
    .hero__content .hero__title {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .hero__content .hero__title {
    font-size: 1.875rem;
  }
}
.hero__content .hero__title:not(:last-child) {
  margin-bottom: 0.3333333333em;
}
.hero__content .hero__title span {
  color: #40DDB6;
}
.hero__content .hero__text {
  font-weight: 500;
  line-height: 1.5;
  color: #B9B9B9;
  max-width: 26.7777777778em;
}
@media (min-width: 81.25em) {
  .hero__content .hero__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 1rem , 0.9591836735rem  +  0.2040816327vw , 1.125rem )) {
    .hero__content .hero__text {
      font-size: clamp( 1rem , 0.9591836735rem  +  0.2040816327vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9591836735rem  +  0.2040816327vw , 1.125rem )) {
    .hero__content .hero__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .hero__content .hero__text {
    font-size: 1rem;
  }
}
.hero__content .hero__text:not(:last-child) {
  margin-bottom: 1.9444444444em;
}
.hero__content .hero__text p:not(:last-child) {
  margin-bottom: 0.5555555556em;
}
.hero__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.6666666667em;
  -webkit-column-gap: 1.6666666667em;
     -moz-column-gap: 1.6666666667em;
          column-gap: 1.6666666667em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 30em) {
  .hero__actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__actions .hero__btn-link {
  background-color: #40ddb6;
  color: #37393F;
}
@media (any-hover: hover) {
  .hero__actions .hero__btn-link:hover {
    background-color: #6b77e5;
  }
}
@media (max-width: 30em) {
  .hero__actions .hero__btn-link {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.hero__actions .hero__video-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.1111111111em;
          flex: 0 0 11.1111111111em;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hero__actions .hero__video-btn::before {
  content: "";
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 3.125rem;
  background: url("../img/hero/play-button.svg") center/0.8125rem no-repeat #6b77e5;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .hero__actions .hero__video-btn:hover {
    text-decoration: none;
    color: #40ddb6;
  }
  .hero__actions .hero__video-btn:hover::before {
    background-color: #40ddb6;
  }
}

.business-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 54.375em) {
  .business-plan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.plan-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 43.125%;
      flex-basis: 43.125%;
  padding: 9.0625rem;
  background-color: #f4f4f4;
  padding-left: 15px;
  padding-right: 3.5416666667%;
}
@media (min-width: 78.125em) {
  .plan-left {
    padding-top: 9.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 78.125em) {
  @supports (padding-top: clamp( 2.5rem , 0.2419354839rem  +  11.2903225806vw , 9.0625rem )) {
    .plan-left {
      padding-top: clamp( 2.5rem , 0.2419354839rem  +  11.2903225806vw , 9.0625rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 0.2419354839rem  +  11.2903225806vw , 9.0625rem )) {
    .plan-left {
      padding-top: calc(2.5rem + 6.5625 * (100vw - 20rem) / 58.125);
    }
  }
}
@media (max-width: 20em) {
  .plan-left {
    padding-top: 2.5rem;
  }
}
@media (min-width: 78.125em) {
  .plan-left {
    padding-bottom: 9.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 78.125em) {
  @supports (padding-bottom: clamp( 2.5rem , 0.2419354839rem  +  11.2903225806vw , 9.0625rem )) {
    .plan-left {
      padding-bottom: clamp( 2.5rem , 0.2419354839rem  +  11.2903225806vw , 9.0625rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , 0.2419354839rem  +  11.2903225806vw , 9.0625rem )) {
    .plan-left {
      padding-bottom: calc(2.5rem + 6.5625 * (100vw - 20rem) / 58.125);
    }
  }
}
@media (max-width: 20em) {
  .plan-left {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 120.0625em) {
  .plan-left {
    padding-right: 4.25rem;
  }
}
@media (max-width: 54.375em) {
  .plan-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 15px;
  }
}
.plan-left__content {
  -ms-flex-preferred-size: 25.5rem;
      flex-basis: 25.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.plan-left__img {
  aspect-ratio: 408/446;
}
.plan-left__img:not(:last-child) {
  margin-bottom: 1.0555555556em;
}
.plan-left__img img {
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}
.plan-left__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6666666667em;
  line-height: 1.2;
}
@media (min-width: 120em) {
  .plan-left__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 54.375em) and (max-width: 120em) {
  @supports (font-size: clamp( 1.625rem , 1.4178571429rem  +  0.380952381vw , 1.875rem )) {
    .plan-left__title {
      font-size: clamp( 1.625rem , 1.4178571429rem  +  0.380952381vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.625rem , 1.4178571429rem  +  0.380952381vw , 1.875rem )) {
    .plan-left__title {
      font-size: calc(1.625rem + 0.25 * (100vw - 54.375rem) / 65.625);
    }
  }
}
@media (max-width: 54.375em) {
  .plan-left__title {
    font-size: 1.625rem;
  }
}
.plan-left__title:not(:last-child) {
  margin-bottom: 0.4333333333em;
}
@media (max-width: 54.375em) and (min-width: 54.375em) {
  .plan-left__title {
    font-size: 1.625rem;
  }
}
@media (max-width: 54.375em) and (min-width: 20em) and (max-width: 54.375em) {
  @supports (font-size: clamp( 1.25rem , 1.0318181818rem  +  1.0909090909vw , 1.625rem )) {
    .plan-left__title {
      font-size: clamp( 1.25rem , 1.0318181818rem  +  1.0909090909vw , 1.625rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.0318181818rem  +  1.0909090909vw , 1.625rem )) {
    .plan-left__title {
      font-size: calc(1.25rem + 0.375 * (100vw - 20rem) / 34.375);
    }
  }
}
@media (max-width: 54.375em) and (max-width: 20em) {
  .plan-left__title {
    font-size: 1.25rem;
  }
}
.plan-left__text:not(:last-child) {
  margin-bottom: 0.8333333333em;
}
.plan-left__text > *:not(:last-child) {
  margin-bottom: 0.5555555556em;
}
.plan-left__text p {
  line-height: 1.46;
  color: #7D7D7D;
}
@media (max-width: 54.375em) and (min-width: 54.375em) {
  .plan-left__text p {
    font-size: 1.125rem;
  }
}
@media (max-width: 54.375em) and (min-width: 20em) and (max-width: 54.375em) {
  @supports (font-size: clamp( 1rem , 0.9272727273rem  +  0.3636363636vw , 1.125rem )) {
    .plan-left__text p {
      font-size: clamp( 1rem , 0.9272727273rem  +  0.3636363636vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9272727273rem  +  0.3636363636vw , 1.125rem )) {
    .plan-left__text p {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 34.375);
    }
  }
}
@media (max-width: 54.375em) and (max-width: 20em) {
  .plan-left__text p {
    font-size: 1rem;
  }
}
.plan-left__link {
  font-weight: 600;
  line-height: 1.2;
  -webkit-text-decoration: underline 0.125rem #37393F;
          text-decoration: underline 0.125rem #37393F;
  -webkit-transition: text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s;
}
@media (any-hover: hover) {
  .plan-left__link:hover {
    text-decoration-color: rgba(0, 0, 0, 0);
  }
}

.plan-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 56.8229166667%;
      flex-basis: 56.8229166667%;
  padding: 9.0625rem;
  padding-right: 15px;
  padding-left: 3.5416666667%;
}
@media (min-width: 78.125em) {
  .plan-right {
    padding-top: 9.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 78.125em) {
  @supports (padding-top: clamp( 2.5rem , 0.2419354839rem  +  11.2903225806vw , 9.0625rem )) {
    .plan-right {
      padding-top: clamp( 2.5rem , 0.2419354839rem  +  11.2903225806vw , 9.0625rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 0.2419354839rem  +  11.2903225806vw , 9.0625rem )) {
    .plan-right {
      padding-top: calc(2.5rem + 6.5625 * (100vw - 20rem) / 58.125);
    }
  }
}
@media (max-width: 20em) {
  .plan-right {
    padding-top: 2.5rem;
  }
}
@media (min-width: 78.125em) {
  .plan-right {
    padding-bottom: 9.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 78.125em) {
  @supports (padding-bottom: clamp( 2.5rem , 0.2419354839rem  +  11.2903225806vw , 9.0625rem )) {
    .plan-right {
      padding-bottom: clamp( 2.5rem , 0.2419354839rem  +  11.2903225806vw , 9.0625rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , 0.2419354839rem  +  11.2903225806vw , 9.0625rem )) {
    .plan-right {
      padding-bottom: calc(2.5rem + 6.5625 * (100vw - 20rem) / 58.125);
    }
  }
}
@media (max-width: 20em) {
  .plan-right {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 120.0625em) {
  .plan-right {
    padding-left: 4.25rem;
  }
}
@media (max-width: 54.375em) {
  .plan-right {
    padding-left: 15px;
  }
}
.plan-right__content {
  -ms-flex-preferred-size: 42.0625rem;
      flex-basis: 42.0625rem;
}
@media (max-width: 54.375em) {
  .plan-right__content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.plan-right__subtitle {
  color: #37393F;
  line-height: 1.2;
  font-weight: 500;
}
.plan-right__subtitle:not(:last-child) {
  margin-bottom: 0.8888888889em;
}
.plan-right__title {
  max-width: 10.75em;
}
@media (min-width: 54.375em) {
  .plan-right__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 54.375em) {
  @supports (font-size: clamp( 1.75rem , 1.3136363636rem  +  2.1818181818vw , 2.5rem )) {
    .plan-right__title {
      font-size: clamp( 1.75rem , 1.3136363636rem  +  2.1818181818vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.3136363636rem  +  2.1818181818vw , 2.5rem )) {
    .plan-right__title {
      font-size: calc(1.75rem + 0.75 * (100vw - 20rem) / 34.375);
    }
  }
}
@media (max-width: 20em) {
  .plan-right__title {
    font-size: 1.75rem;
  }
}
.plan-right__title:not(:last-child) {
  margin-bottom: 0.5em;
}
.plan-right__text > *:not(:last-child) {
  margin-bottom: 0.8333333333em;
}
.plan-right__text:not(:last-child) {
  margin-bottom: 1.1111111111em;
}
.plan-right__text p {
  line-height: 1.46;
  color: #7D7D7D;
}
@media (min-width: 54.375em) {
  .plan-right__text p {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 54.375em) {
  @supports (font-size: clamp( 1rem , 0.9272727273rem  +  0.3636363636vw , 1.125rem )) {
    .plan-right__text p {
      font-size: clamp( 1rem , 0.9272727273rem  +  0.3636363636vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9272727273rem  +  0.3636363636vw , 1.125rem )) {
    .plan-right__text p {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 34.375);
    }
  }
}
@media (max-width: 20em) {
  .plan-right__text p {
    font-size: 1rem;
  }
}
@media (min-width: 54.375em) {
  .plan-right__strategy-list:not(:last-child) {
    margin-bottom: 2.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 54.375em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.4022727273rem  +  2.3636363636vw , 2.6875rem )) {
    .plan-right__strategy-list:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.4022727273rem  +  2.3636363636vw , 2.6875rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.4022727273rem  +  2.3636363636vw , 2.6875rem )) {
    .plan-right__strategy-list:not(:last-child) {
      margin-bottom: calc(1.875rem + 0.8125 * (100vw - 20rem) / 34.375);
    }
  }
}
@media (max-width: 20em) {
  .plan-right__strategy-list:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.plan-right__list-item {
  font-family: "Poppins", sans-serif;
  font-size: 1.1111111111rem;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.4444444444em;
     -moz-column-gap: 0.4444444444em;
          column-gap: 0.4444444444em;
}
.plan-right__list-item:not(:last-child) {
  margin-bottom: 1.15em;
}
.plan-right__list-item::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.6875rem;
          flex: 0 0 1.6875rem;
  width: 1.6875rem;
  height: 1.6875rem;
  background: url("../img/business_plan/check-mark.svg") center/cover no-repeat;
}
.plan-right__preferences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.plan-right__preferences:not(:last-child) {
  margin-bottom: 2.0555555556em;
}
@media (max-width: 75em) {
  .plan-right__preferences {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 54.375em) {
  .plan-right__preferences {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 40.06125em) {
  .plan-right__preferences {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.preferences-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  max-width: 18.4375rem;
  width: 100%;
  border: 0.0625rem solid #e3e3e3;
}
@media (max-width: 75em) {
  .preferences-item.plan-right__item-preferences {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 54.375em) {
  .preferences-item.plan-right__item-preferences {
    max-width: 18.4375rem;
  }
}
@media (max-width: 54.375em) {
  .preferences-item.plan-right__item-preferences {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.preferences-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 1.1875rem;
     -moz-column-gap: 1.1875rem;
          column-gap: 1.1875rem;
  -ms-flex-preferred-size: 14.4375rem;
      flex-basis: 14.4375rem;
}
.preferences-item__box img {
  width: 2.625rem;
  height: 2.625rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.preferences-item__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
@media (min-width: 54.375em) {
  .preferences-item__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 54.375em) {
  @supports (font-size: clamp( 1.125rem , 1.0522727273rem  +  0.3636363636vw , 1.25rem )) {
    .preferences-item__title {
      font-size: clamp( 1.125rem , 1.0522727273rem  +  0.3636363636vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0522727273rem  +  0.3636363636vw , 1.25rem )) {
    .preferences-item__title {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 34.375);
    }
  }
}
@media (max-width: 20em) {
  .preferences-item__title {
    font-size: 1.125rem;
  }
}
.preferences-item__title:not(:last-child) {
  margin-bottom: 0.35em;
}
.preferences-item__text > *:not(:last-child) {
  margin-bottom: 0.2777777778em;
}
.preferences-item__text p {
  font-size: 1rem;
  line-height: 1.35;
}
@media (min-width: 54.375em) {
  .preferences-item__text p {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 54.375em) {
  @supports (font-size: clamp( 0.875rem , 0.8022727273rem  +  0.3636363636vw , 1rem )) {
    .preferences-item__text p {
      font-size: clamp( 0.875rem , 0.8022727273rem  +  0.3636363636vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8022727273rem  +  0.3636363636vw , 1rem )) {
    .preferences-item__text p {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 34.375);
    }
  }
}
@media (max-width: 20em) {
  .preferences-item__text p {
    font-size: 0.875rem;
  }
}

.footer {
  background-color: #fff9f4;
}
.footer__container {
  padding: 1.25rem 0rem;
}
.footer__text {
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 600;
  color: #000;
}
@media (min-width: 77.5em) {
  .footer__text {
    font-size: 1.875rem;
  }
}
@media (min-width: 48em) and (max-width: 77.5em) {
  @supports (font-size: clamp( 1.25rem , 0.2330508475rem  +  2.1186440678vw , 1.875rem )) {
    .footer__text {
      font-size: clamp( 1.25rem , 0.2330508475rem  +  2.1186440678vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.2330508475rem  +  2.1186440678vw , 1.875rem )) {
    .footer__text {
      font-size: calc(1.25rem + 0.625 * (100vw - 48rem) / 29.5);
    }
  }
}
@media (max-width: 48em) {
  .footer__text {
    font-size: 1.25rem;
  }
}