/* Підключення шрифтів Google fonts */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
/* Підключення шрифтів вручну */
/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #7d7d7d;
	padding: 50px 15px;
}
/* ====================Практика уроку===================== */

/* ------------------------------------------------------------------ */

/* ==============================Footer============================= */
