// Змінні
$tablet: 991.98px;
$mobile: 767.98px;

$mainColor: #3c4242;
$whiteColor: #fff;
$mainFont: "Causten", sans-serif;
$mainFontSize: 18px;

// Міксін----------------------------------------------
@mixin underline ($lineColor: transparent, $lineSize: 2px) {
	text-decoration: underline;
	text-decoration-color: $lineColor;
	text-decoration-thickness: $lineSize;
}

// Шаблон----------------------------------------------
%shopLink {
	color: $mainColor;
	background-color: $whiteColor;
	border-radius: 8px;
	padding: 16px 72px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	transition: all 0.3s;
	@media (any-hover: hover) {
		&:hover{
			background-color: $mainColor;
			color: $whiteColor;
		}
	}
}

%footerPadding {
	padding-left: 76px;
	padding-right: 85px;
	@media (max-width: 1130px){
		padding: 0 20px;
	}
	@media (max-width: 650px){
		padding: 0 10px;
	}
}

body{
	font-size: $mainFontSize;
	color: $mainColor;
	font-family: $mainFont;
	& .wrapper {
		overflow: clip;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		& main {
			flex-grow: 1;
		}
	}
	& .page {
		padding-top: 108px;
		padding-bottom: 100px;
		& > *:not(:last-child) {
			margin-bottom: 100px;
		}
		@media (max-width: $tablet) {
			padding-top: 75px;
			padding-bottom: 75px;
			& > *:not(:last-child) {
				margin-bottom: 75px;
			}
		}
		@media (max-width: $mobile) {
			padding-top: 50px;
			padding-bottom: 50px;
			& > *:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		@media (max-width: 550px) {
			// padding-top: 35px;
			padding-bottom: 35px;
			& > *:not(:last-child) {
				margin-bottom: 35px;
			}
		}
	}
	.menu-open & {
		overflow: hidden;
	}
}

[class*="__container"] {
	max-width: 1270px;
	padding: 0px 15px;
	margin: 0 auto;
	@media (max-width: 550px) {
		padding: 0px 10px;
	}
}

.title {
	font-family: "Coresansc", sans-serif;
	font-size: 34px;
	font-weight: 600;
	letter-spacing: 0.68px;
	line-height: 1.1;
	display: inline-flex;
	column-gap: 20px;
	@media (max-width: 991.98px) {
		font-size: 28px;
		column-gap: 15px;
	}
	@media (max-width: 600px) {
		column-gap: 10px;
		font-size: 22px;
	}
	&::before {
		content: "";
		flex: 0 0 6px;
		width: 6px;
		height: 30px;
		border-radius: 10px;
		background-color: #8a33fd;
		@media (max-width: 991.98px) {
			height: 28px;
		}
		@media (max-width: 600px) {
			height: 22px;
		}
	}
}

@keyframes move {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(5px);
	}
}

@keyframes move-right {
	0% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(-10px);
	}
}